---
layout: default
title: Home
base_url: "./"
---

{% include main-slider.html %}

<div class="text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h1><img style="width: 45px; height: auto;" src="{{ page.base_url }}img/logos/small-logo.png"/> Stonelinks <small>The brainchild of Lucas Doyle</small></h1>
        <p class="lead">Hey there! I'm Lucas Doyle. I'm a programmer, roboticist, engineer and web developer. I'm passionate about my work and love learning new things. Stonelinks is where I put my projects, code, writing, documentation and more. Enjoy!</p>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div>

<div class="section-colored">

  <div class="container">

    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Stonelinks Controller</h3>
        <p class="lead">Our platform for programming and optimizing industrial robots.</p>
        <div class="text-center">
          <a href="{{ page.base_url }}videos.html#controller">
            <img style="width: 90%; height: auto;" src="{{ page.base_url }}img/video_thumbs/controller_demo.png"/>
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Stonelinks Scanner</h3>
        <p class="lead">Save time by modeling simple parts and complex environments.</p>
        <div class="text-center">
          <a href="{{ page.base_url }}videos.html#scanner">
            <img style="width: 90%; height: auto;" src="{{ page.base_url }}img/video_thumbs/quickscan_demo.png"/>
          </a>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Fast Liquid Handling</h3>
<!--
        <p class="lead">Demonstration of Stonelinks's powerful planning pipeline.</p>
-->
        <div class="text-center">
          <a href="{{ page.base_url }}videos.html#fluid">
            <img style="width: 90%; height: auto;" src="{{ page.base_url }}img/video_thumbs/liquid_fast_handling_demo.png"/>
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Bin Picking Demonstration</h3>
<!--
        <p class="lead">Save time by modeling simple parts and complex environments.</p>
-->
        <div class="text-center">
          <a href="{{ page.base_url }}videos.html#pick-worker">
            <img style="width: 90%; height: auto;" src="{{ page.base_url }}img/video_thumbs/pickworker_demo.png"/>
          </a>
        </div>
      </div>

    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section -->

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h1>Latest News</h1>
        <ul>

          {% for post in site.posts limit:5 %}
             <li>
               <span>{{ post.date | date_to_string }}</span> &raquo;
               <a href="{{ site.baseurl_root }}{{ post.url }}">{{ post.title }}</a>
             </li>
          {% endfor %}

        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <a href="{{ page.base_url }}products/controller.html" class="btn btn-default btn-lg btn-block">Stonelinks Controller &raquo;</a>
        <a href="{{ page.base_url }}" class="btn btn-default btn-lg btn-block">Stonelinks Scanner &raquo;</a>
        <a href="{{ page.base_url }}" class="btn btn-default btn-lg btn-block">Engineering Services &raquo;</a>
        <a href="{{ page.base_url }}" class="btn btn-default btn-lg btn-block">Our Technology &raquo;</a>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section-colored -->
