---
layout: default
title: Home
base_url: "./"
---

{% include main-slider.html %}

<div class="text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2><img style="width: 30px; height: auto;" src="{{ page.base_url }}img/logo/mujin_logo_single_notext.svg"/> Stonelinks</h2>
        <p class="lead">We are a team of robotics, motion control and design experts ready to tackle your toughest industrial robot problems.</p>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div>

<div class="section-colored">

  <div class="container">

    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Stonelinks Controller</h3>
        <p class="lead">Our platform for programming and optimizing industrial robots.</p>
        <div class="text-center">
          <a href="{{ site.baseurl_root }}{{ site.lang }}/videos.html#controller">
            <img style="width: 90%; height: auto;" src="{{ page.base_url }}img/video_thumbs/controller_demo.png"/>
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Stonelinks Scanner</h3>
        <p class="lead">Save time by modeling simple parts and complex environments.</p>
        <div class="text-center">
          <a href="{{ site.baseurl_root }}{{ site.lang }}/videos.html#scanner">
            <img style="width: 90%; height: auto;" src="{{ page.base_url }}img/video_thumbs/quickscan_demo.png"/>
          </a>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Fast Liquid Handling</h3>
<!--
        <p class="lead">Demonstration of Stonelinks's powerful planning pipeline.</p>
-->
        <div class="text-center">
          <a href="{{ site.baseurl_root }}{{ site.lang }}/videos.html#fluid">
            <img style="width: 90%; height: auto;" src="{{ page.base_url }}img/video_thumbs/liquid_fast_handling_demo.png"/>
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3>Bin Picking Demonstration</h3>
<!--
        <p class="lead">Save time by modeling simple parts and complex environments.</p>
-->
        <div class="text-center">
          <a href="{{ site.baseurl_root }}{{ site.lang }}/videos.html#pick-worker">
            <img style="width: 90%; height: auto;" src="{{ page.base_url }}img/video_thumbs/pickworker_demo.png"/>
          </a>
        </div>
      </div>

    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section -->

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h1>Latest News</h1>
        <ul>

          {% for post in site.posts limit:5 %}
             <li>
               <span>{{ post.date | date_to_string }}</span> &raquo;
               <a href="{{ site.baseurl_root }}{{ site.lang }}{{ post.url }}">{{ post.title }}</a>
             </li>
          {% endfor %}

        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <a href="{{ site.baseurl_root }}{{ site.lang }}/products/controller.html" class="btn btn-default btn-lg btn-block">Stonelinks Controller &raquo;</a>
        <a href="{{ site.baseurl_root }}{{ site.lang }}/" class="btn btn-default btn-lg btn-block">Stonelinks Scanner &raquo;</a>
        <a href="{{ site.baseurl_root }}{{ site.lang }}/" class="btn btn-default btn-lg btn-block">Engineering Services &raquo;</a>
        <a href="{{ site.baseurl_root }}{{ site.lang }}/" class="btn btn-default btn-lg btn-block">Our Technology &raquo;</a>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section-colored -->
