extends page

block append content
    .box-row
        each thing in page.metadata.list
            .row
                .box(id=slug(thing.name))
                    .col-lg-12
                        h1.intro-text.text-center= thing.name
                        .media-container
                            if thing.image
                                img(src='/images/' + thing.image)
                            else if thing.youtube
                                iframe(src=thing.youtube, frameborder="0", allowfullscreen)
                        .external-links
                            | !{ typogr(marked(thing.desc)).typogrify() }
