extends base

block body
    .chrome-wrapper
        .chrome-wrapper-inner
            .chrome-container
                block masthead
                    .masthead.clearfix
                        a(href='/')
                            .masthead-logo
                                img(src=locals.site.logo)
                            h1.masthead-brand
                                = locals.site.title
                        p.masthead-tagline
                            = locals.site.tagline
                        nav
                            ul.nav.masthead-nav
                                li
                                    a(href='/blog.html') Blog
                                li
                                    a(href='/luke.html') About
                                li
                                    a(href='/projects.html') Projects
                block mastfoot
                    .mastfoot
                        each network in locals.social_networks
                            a.social(href=network.link, target='_blank')
                                i(class='fa fa-' + network.name)
                        a(href='mailto:' + locals.site.email + '?Subject=Hello', target='_top')
                            | Contact me