@import "bootstrap.less";

@import "../vendor/font-awesome/less/font-awesome.less";
@fa-font-path: "../vendor/font-awesome/fonts";

body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;

  background: linear-gradient(darken(@brand-primary, 0%), darken(@brand-primary, 25%)) no-repeat center center / 100% 100% fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

hr {
  border-color: #999999;
  max-width: 400px;
}

.brand,
.tagline-bar {
  display: none;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

.navbar-brand img {
  float: left;
  height: 130%;
  margin-right: 5px;
  margin-top: -8px;
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.box {
  background: #fff;
  background: rgba(255,255,255,0.9);
  margin-bottom: 20px;
  padding: 30px 15px;
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  background: #fff;
  background: rgba(255,255,255,0.9);
}

footer p {
  margin: 0;
  padding: 50px 0;
}

@media screen and (min-width: 768px) {

.brand,
.brand:hover {
  display: inherit;
  font-weight: 700;
  font-size: 5em;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 30px 0 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.brand:hover {
  text-decoration: none;
  text-shadow: 0px 0px 25px #fff;
}

.brand > img {
  height: 80px;
  margin-top: -16px;
}

.top-divider {
  margin-top: 0;
}

.img-left {
  float: left;
  margin-right: 25px;
}

.tagline-bar {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  display: none;
}

.navbar {
  min-height: 0;
}

.navbar-default {
  background: #fff;
  background: rgba(255,255,255,0.9);
  border: none;
}

.nav > li > a {
  padding: 35px;
}

.navbar-nav > li > a {
  line-height: normal;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  font-size: 1.25em;
}

}

@media screen and (min-width: 1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

.landing {
  background-color: rgba(0, 0, 0, .4);
}

.social {
  font-size: 20px;
  margin-right: 10px;
}

.footer-link {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-link:hover,
.social:hover {
  text-decoration: none;
}

.landing-navbar-wrapper .navbar {
  margin-bottom: 0px;
}

.landing-navbar-wrapper footer {
  padding-bottom: 25px;
}

ul {
  font-size: 15px;
  line-height: 25px;
  color: rgb(0, 0, 0);
}
