<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="fill" style="background-image:url('{{ page.base_url }}img/slider/cfa-chamber-logos.png');"></div>
        <div class="carousel-caption">
          <h1>Automated Multilayer Fabrication<br/>
          <small>A system at the Harvard - Smithsonian Center for Astrophysics for fabricating experimental X-ray optics.</small></h1>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('{{ page.base_url }}img/slider/dabuzz.png');"></div>
        <div class="carousel-caption">
          <h1>DaBuzz<br/>
          <small>Applying natural language processing to financial news sources to gauge sentiment of stocks.<br/>
          A collaboration with friends as part of the Rensselaer Center for Open Source.</small></h1>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('{{ page.base_url }}img/slider/stoolbotics.png');"></div>
        <div class="carousel-caption">
          <h1>Stoolbotics Robot Simulator<br/>
          <small>A beginner friendly, minimalistic and open source robot simulator.<br/>
          Aimed at educating people about robotics.</small></h1>
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('{{ page.base_url }}img/slider/wingbox.png');"></div>
        <div class="carousel-caption">
          <h1>Boeing Robotic Wingbox<br/>
          <small>Senior capstone project to design a simulator for a robot that operates inside an aircraft wing.</small></h1>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>
</div>
