---
layout: default.hbs
---

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <a href="/{{page.basename}}.html">
      <h1 class="intro-text text-center">{{page.title}}
      <br/>
      <small>{{formatDate page.date "%m/%d/%Y"}}</small>
      </h1></a>
      <hr>
      {{#markdown}}{{> body }}{{/markdown}}
    </div>
  </div>
</div>
