extends base

block append js

  script(src='/node_modules/threejs-r49/build/Three.js')

  script(src='/node_modules/threejs-r49/examples/js/Detector.js')
  script(src='/js/blox/ViewportControls.js')
  script(src='/js/blox/ShaderExtras.js')

  script(src='/node_modules/threejs-r49/examples/js/postprocessing/EffectComposer.js')
  script(src='/node_modules/threejs-r49/examples/js/postprocessing/RenderPass.js')
  script(src='/node_modules/threejs-r49/examples/js/postprocessing/ShaderPass.js')
  script(src='/node_modules/threejs-r49/examples/js/postprocessing/MaskPass.js')
  script(src='/node_modules/threejs-r49/examples/js/postprocessing/BloomPass.js')
  script(src='/node_modules/threejs-r49/examples/js/postprocessing/FilmPass.js')

  script(src='/node_modules/threejs-r49/examples/fonts/gentilis_bold.typeface.js')
  script(src='/node_modules/threejs-r49/examples/fonts/gentilis_regular.typeface.js')
  script(src='/node_modules/threejs-r49/examples/fonts/optimer_bold.typeface.js')
  script(src='/node_modules/threejs-r49/examples/fonts/optimer_regular.typeface.js')
  script(src='/node_modules/threejs-r49/examples/fonts/helvetiker_bold.typeface.js')
  script(src='/node_modules/threejs-r49/examples/fonts/helvetiker_regular.typeface.js')
  script(src='/node_modules/threejs-r49/examples/fonts/droid/droid_sans_regular.typeface.js')
  script(src='/node_modules/threejs-r49/examples/fonts/droid/droid_sans_bold.typeface.js')
  script(src='/node_modules/threejs-r49/examples/fonts/droid/droid_serif_regular.typeface.js')
  script(src='/node_modules/threejs-r49/examples/fonts/droid/droid_serif_bold.typeface.js')
  script(src='/js/blox/blox.js')
