extends layout

block prepend content
  .row
    .box
      .col-lg-12.external-links
        | !{ typogr(page.html).typogrify() }

block append js
  script(src='/node_modules/imagesloaded/imagesloaded.pkgd.min.js')
