extends page

block append content
  .row
    each thing in page.metadata.list
      .box(id=slug(thing.name))
        .col-lg-12
          hr
          h1.intro-text.text-center= thing.name
          hr
          .media-container
            if thing.image
              img(src='/img/' + thing.image)
            else if thing.youtube
              iframe(src=thing.youtube, frameborder="0", allowfullscreen)
          .external-links
            | !{ typogr(markdown.markdown.toHTML(thing.desc)).typogrify() }
