extends base

block append head
  style.
    * {
      margin: 0;
      padding: 0;
    }

    html,
    body {
      width: 100%;
      height: 100%;
    }

    canvas {
      display: block;
    }

block body
  .landing-wrapper
    .top-padding
    .landing
      a.brand(href='/')
        img(src='/images/' + locals.site.logo)
        = locals.site.title
      .tagline-bar
        = locals.site.tagline

    .landing-navbar-wrapper
      .navbar.navbar-default(role='navigation')
        .container
          .navbar-header
            a.navbar-brand(href='/')
              img(src='/images/' + locals.site.logo)
              = locals.site.title
              br
              small.text-muted
                = locals.site.tagline
          div
            ul.nav.navbar-nav
              li
                a(href='/blog.html') Blog
              li
                a(href='/luke.html') About
              li
                a(href='/projects.html') Projects
      footer
        .container
          .row
            .col-lg-12.text-center
              each network in locals.social_networks
                a.social(href=network.link, target='_blank')
                  i(class='fa fa-'+ network.name)
              a.footer-link(href='mailto:' + locals.site.email + '?Subject=Hello', target='_top')
                | contact
    .bottom-padding
  canvas#canvas
