extends layout

block append head
  script(src='/vendor/isotope/jquery.isotope.min.js')

block content
  #projects.row
    each project in page.metadata.projects
      .project-box
        hr
        a(href='/projects/' + project.id + '/index.html')
          h3.intro-text.text-center
            | !{ typogr(project.name).typogrify() }
        hr
        a(href='/projects/' + project.id + '/index.html')
          img(src='/img/' + project.image)
        p
          | !{ typogr(project.desc).typogrify() }
