extends layout

block append js
  script(src='/vendor/isotope/dist/isotope.pkgd.min.js')
  script(src='/vendor/isotope-packery/packery-mode.pkgd.min.js')
  script(src='/vendor/imagesloaded/imagesloaded.pkgd.min.js')

block content
  .row.tag-row
    .box
      .col-lg-12
        p#filters
          span.label.label-info.tag(data-filter='*')
            | show all
          - var allTags = _.uniq(_.flatten(_.map(page.metadata.projects, function(p) { return p.tags.split(', ') })))
          each tag in allTags
            span.label.label-info.tag(data-filter=tag)= tag
  #projects.project-row
    each project in page.metadata.projects
      div(class='project-box ' + project.tags.split(', ').join(' '))
        hr
        a(href='/projects/' + project.id + '/index.html')
          h3.intro-text.text-center= project.name
        hr
        a(href='/projects/' + project.id + '/index.html')
          img(src='/img/' + project.image)
        a(href='/projects/' + project.id + '/index.html')
          p
            | !{ typogr(project.desc).typogrify() }
    .grid-sizer
    .gutter-sizer
