<!DOCTYPE html>
<html lang="en">
    <head>

        {% include header.html %}

        <title>
            {{ page.title }} &middot; Stonelinks
        </title>

    </head>
    <body data-spy="scroll" data-target="#nav-sidebar">

        {% include nav-main.html %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {{ content }}
                </div>
            </div>
        </div>

        {% include footer.html %}

    </body>
</html>
